<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="cn.intersight.teslaremote">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 访问WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 需要外部存储写权限用于保存地图缓存 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 获取 device id 辨别设备 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- 腾讯地图 SDK 要求的权限(结束) -->
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="6d1876fb99eaa4ca1d0161fd584780b9"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyC4-YFAbT0t_CZCucQdb0iT-5E4tHSsdQ4"/>

        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <activity
                android:name=".SplashActivity"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name=".WidgetPanel">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_panel_info"/>
        </receiver>

        <activity
                android:name=".NavShareActivity"
                android:launchMode="singleInstance"
                android:theme="@style/NavShareDialogTheme">
        </activity>

        <service
                android:name=".WidgetPanel$WidgetUpdateService"
                android:exported="true"
                android:permission="android.permission.BIND_JOB_SERVICE"/>

        <activity
                android:name=".LoginActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".VehicleSelectionActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".RemoteKeyActivity"
                  android:launchMode="singleInstance"
                  android:theme="@style/NavShareDialogTheme">
        </activity>
    </application>

</manifest>